*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
 display: grid;
 grid-template-rows: auto 1fr auto;
    grid-template-columns: 300px 1fr;
    grid-template-areas: 
        "navbar navbar"
        "main aside"
        "main footer";
}

nav{
    grid-area: navbar;
    background-color: #333;
    padding:1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-wrap: nowrap;
    
}
nav input[type="text"]{
    padding: 0.5em;
    border-radius: 5px;
    border: none;
    width: 400px;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    
    gap: 20px;
    
}
nav ul li{
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav ul li:hover{
    background-color: #555;
    
}


nav ul li a{
    color: white;
    text-decoration: none;
}
aside{
    grid-area: aside;
}
main{
    grid-area: main;
}
footer{
    grid-area: footer;
}

@media (max-width: 780px) {
    nav input[type="text"]{
        width: auto;
    }
    nav ul{
        
        gap: 10px;
    }
}